# IBM Confidential
#
# OCO Source Materials
#
# Copyright IBM Corp. 2018
#
# The source code for this program is not published or otherwise
# divested of its trade secrets, irrespective of what has been
# deposited with the U.S. Copyright Office.

kind: Deployment
apiVersion: apps/v1beta1
metadata:
  name: {{ template "broker-demo.fullname" . }}
  labels:
    app: {{ .Values.appName }}
    chart: {{ template "broker-demo.fullname" . }}
spec:
  replicas: {{ .Values.appReplicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.appName }}
      chart: {{ template "broker-demo.fullname" . }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.maxSurge  }}
      maxUnavailable: {{ .Values.maxUnavailable }}
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ .Values.appName }}
        chart: {{ template "broker-demo.fullname" . }}
    spec:
      imagePullSecrets:
      - name: {{ .Values.DOCKER_REGISTRY_SECRET }}
      containers:
      - name: {{ .Values.appName }}
        image: "{{ .Values.image }}:{{ .Values.tag }}"
        resources:
          limits:
            memory: "{{ .Values.limits.memory }}"
          requests:
            memory: "{{ .Values.requests.memory }}"
        ports:
        - name: http-app
          containerPort: {{ .Values.appPort | default 8080 }}
        env:

#         - name: PSQL_HOST
#           value: {{ .Values.PSQL_HOST }}
#         - name: PSQL_PORT
#           value: {{ .Values.PSQL_PORT | quote }}
#         - name: PSQL_DB
#           value: {{ .Values.PSQL_DB  }}
#         - name: PSQL_USER
#           value: {{ .Values.PSQL_USER  }}
#         - name: PSQL_PASSWORD
# #          value: {{ .Values.PSQL_PASSWORD | quote }}
#           valueFrom:
#             secretKeyRef:
#               name: {{ .Values.PSQL_SECRET}}
#               key: PSQL_PASSWORD


        - name: BROKER_TYPE
          value: {{ .Values.BROKER_TYPE }}
        - name: REDIS_HOST
          value: {{ .Values.REDIS_HOST }}
        # - name: REDIS_PORT
        #   value: {{ .Values.REDIS_PORT | quote }}
        - name: REDIS_DB
          value: {{ .Values.REDIS_DB | quote }}
        - name: REDIS_SSL
          value: {{ .Values.REDIS_SSL | quote }}
        - name: REDIS_PASSWORD
          # value: {{ .Values.REDIS_PASSWORD }}
          valueFrom:
            secretKeyRef:
              name: redis-password
              key: REDIS_PASSWORD
